/* Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #7006b3; /* Replace with desired solid color */
  /* background-color: #8d0cc8; */
  z-index: 1000; /* Ensures it's on top of other elements */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar .container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem; /* Adjust as per design needs */
}

.navbar-nav {
  margin-left: auto;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  color: #fff; /* Ensure text color contrasts with the background */
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-toggler:focus {
  outline: none;
}
